
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
background-color: hsl(0, 0%, 8%);
font-family: Inter;
font-size: 14px;
padding: 1rem;
}

.main-card{
padding: 1rem;
margin: auto;
width:300px;
height: 500px;
background-color:  hsl(0, 0%, 12%);
border-radius: 1rem;
}
.image-container{
text-align: center;
}
img{
width:80px;
height: 80px;
border-radius: 50%;
}
.image-container>h2,h5{
color: hsl(0, 0%, 100%);
}
h5{
color: hsl(75, 94%, 57%);
}
.links{
text-align: center;
display: grid;
grid-gap: 0.9rem;
}
.link-container{
padding: 0.3rem;
color: hsl(0, 0%, 100%);
margin: auto;
width: 270px;
height: 30px;
background-color: hsl(0, 0%, 20%);
border-radius: 10px;
}
.link-container:hover{
background-color:hsl(75, 94%, 57%) ;
cursor: pointer;

}